<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h2>Create blog form</h2>
    <form action="/edit" th:object="${blog}" method="post">
        <div class="form-group">
            <label for="id">id:</label>
            <input type="text" readonly class="form-control" th:value="${blog.id}" id="id" placeholder="Enter header" th:field="*{id}" >
        </div>
        <div class="form-group">
            <label for="header">Title:</label>
            <input type="text" class="form-control" id="header" placeholder="Enter header" th:field="*{title}" >
        </div>
        <div class="form-group">
            <label for="body">body:</label>
            <input type="text" class="form-control" id="body" placeholder="Enter body" th:field="*{body}">
        </div>
        <div class="form-group">
            <label for="summary">Summary:</label>
            <textarea class="form-control" id="summary" placeholder="Enter summary" th:field="*{summary}"></textarea>
        </div>
        <div class="form-group">
            <label for="date-created">Date Created:</label>
            <input type="date" class="form-control" id="date-created" th:field="*{dateCreated}">
        </div>
        <div class="form-group">
            <label for="body">Category:</label>
            <select th:field="*{category.id}">
                <option th:each="item: ${category}" th:text="${item.categoryName}" th:value="${item.id}"  >
                </option>

            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>