p {
    font-family: Arial;
    text-indent: 50px;
    writing-mode: horizontal-tb;
    font-size: 20px;
}

.blue {
    color: #00008B;
    font-weight: bold;
}

.bold {
    font-weight: bolder;
    font-size: 20px;
}

.seaGreen {
    color: #1E90FF;
}

h1 {
    border-bottom-style: ridge;
    border-bottom-width: thick;
    width: 60%;
}

h2 {
    font-weight: normal;
    font-size: 20px;
    margin-top: -20px;
}

.main {
    max-width: 60%;
    text-align: justify;
}