<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Blog</title>
</head>
<body>
<h3>Create new blog for yourself</h3>
<form th:action="@{/create-blog}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td>Header:</td>
            <td><input type="text" th:field="*{header}"/></td>
        </tr>
        <tr>
            <td>Summary:</td>
            <td><input type="text" th:field="*{summary}"/></td>
        </tr>
        <tr>
            <td>Body:</td>
            <td><input type="text" th:field="*{body}"/></td>
        </tr>
        <tr>
            <td>Post Date:</td>
            <td><input type="text" th:field="*{postDate}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Blog"></td>
        </tr>
    </table>

</form>
</body>
</html>