<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Edit blog form</h2>
    <form action="/topic/edit" th:object="${category}" method="post">
        <div class="form-group">
            <input type="hidden" th:value="${category.id}" th:field="*{id}">
            <label for="header">Title:</label>
            <input type="text" class="form-control" id="header" placeholder="Enter header" th:field="*{topic}" >
        </div>
        <button type="submit" class="btn btn-primary">edit</button>
    </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>