<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assert/bootstrap413/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <style>
        *{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<br>
<div class="container">
    <div class="row d-flex justify-content-center">
        <h2>Welcome to my Blog</h2>
    </div>
</div>
<br>
<div class="container">
    <div class="row d-flex justify-content-center ">
        <a href="/" class="button p-2 " style="background: green; color: white;border-radius: 100px">Back to  Blog List</a>
    </div>
</div>
<br>
<div class="container">
    <div class="row d-flex justify-content-center ">
        <a href="/topic/show-create-topic-form" class="button p-2 " style="background: green; color: white;border-radius: 100px">Add new Topic</a>
    </div>
</div>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-sm-4 p-2" th:each="category,status:${categoryList}" >
            <div  style="background: #d2cbcb">
                <div class="d-flex justify-content-around">
                    <a th:href="@{/topic/edit/{id}(id=${category.id})}"><i class='far fa-edit' style='font-size:24px'></i></a>
                    <h3 th:text="${status.count}"></h3>
                    <a th:href="@{/topic/cancel/{id}(id=${category.id})}" style="color: red">X</a>
                </div>
                <a href="" th:text="${category.topic}"></a>

            </div>

        </div>
        <div class="col-12"></div>
        <div  align="center">
            <a th:href="@{/(page=${categoryList.number -1 })}" th:if="${categoryList.hasPrevious()}">Previous</a>
            <span th:text="${categoryList.number+1}"></span>
            <span>/</span>
            <span th:text="${categoryList.totalPages}" ></span>
            <a th:href="@{/(page=${categoryList.number +1 })}" th:if="${categoryList.hasNext()}">next</a>
        </div>
    </div>
</div>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="/assert/jquery/jquery-3.5.1.min.js"></script>
<script src="/assert/bootstrap413/js/popper.min.js"></script>
<script src="/assert/bootstrap413/js/bootstrap.min.js"></script>
<script src="/assert/bootstrap413/js/bootstrap.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>